.locationContainerTop {
  padding: 164px 286px 104px 286px;
  max-width: 100px;
  max-height: 100px;
  overflow: hidden;
}

.bttnContainer {
  background-color: lightgray;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 104px;
}

.locationContainer {
  border-top: solid 1px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  flex-direction: row;
  padding: 160px 186px;
}

.mapImg {
  background-image: url('./../../imgs/map_img.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 100px;
  width: 65px;
  transform: scale(6.5)
}

.headShotImg {
  background-image: url('./../../imgs/eric_waits.png');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 300px;
  width: 300px;

  border-radius: 100%;
  /* transform: scale(6.5) */
}
