.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 104px 312px;
}

.imagePlaceHolder {
  text-align: center;
}

.aboutText {
  text-align: center;
  padding: 84px 0;
}

@media all and (max-width: 600px) {
  .aboutContainer {
    margin: 0;
    padding: 0 5vw;
  }
}
