.reverse {
  flex-direction: row-reverse;
}

.infoSectionTextContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 182px;
}

.infoSectionText {
  width: 60%;
}

.infoSectionImage {
  width: 30%;
  height: 30vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.infoButtonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 102px 0;
}

.imgOne {
  background-image: url('./../../imgs/imgOne.jpg');
}

.imgTwo {
  background-image: url('./../../imgs/imgTwo.jpg');
}

.imgThree {
  background-image: url('./../../imgs/imgThree.jpg');
}

@media all and (max-width: 600px) {
  .infoSectionTextContainer {
    display:flex;
    flex-direction: column-reverse;
    padding: 5vw;
  }

  .infoSectionImage {
    width: 90vw;
  }

  .infoSectionText {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoSectionText h3 {
    text-align: center;
  }
}
