.reverse {
  flex-direction: row-reverse;
}

.infoSectionTextContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 182px;
}

.infoSectionText {
  width: 60%;
}

.infoSectionImage {
  width: 30%;
  height: 30vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.infoButtonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 102px 0;
}

.imgOne {
  background-image: url('./../../imgs/imgOne.jpg');
}

.imgTwo {
  background-image: url('./../../imgs/imgTwo.jpg');
}

.imgThree {
  background-image: url('./../../imgs/imgThree.jpg');
}
