.bannerImg {
  background-image: url('./../../imgs/banner.jpg');

  height: 20vw;
  width: 100vw;

  transform: scale(2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bannerImgContainer {
  min-height: 600px;
  min-width: 100%;
  overflow: hidden;
}
